/*
	Camden Kilby
	styles.css
	02/01/2025
*/

/*CSS Reset*/

body, h1, img, nav, h2, h3, h4, a, ul, main, p, footer, figure, figcaption, article, section{
	margin: 0px;
	padding: 0px;
}

body{

}

h1{
	
	font-family: 'League Spartan';
	font-size: 70px;
	color: black;
	text-shadow: 0 0 3px white;
	font-weight: 100; /*thin*/
}

h2{
	font-family: 'League Spartan';
	font-size: 70px;
	color: black;
	text-shadow: 0 0 3px white;
	font-weight: 100; /*thin*/
	text-decoration: underline 4px;
	padding-bottom: 6px;
}

h3{
	font-family: 'League Spartan';
	font-size: 40px;
	color: black;
	text-shadow: 0 0 3px white;
	font-weight: 100; /*thin*/
	padding-bottom: 4px;
}

h4{
	font-family: 'League Spartan';
	font-size: 30px;
	color: black;
	text-shadow: 0 0 3px white;
	font-weight: 100; /*thin*/
}

p{
	padding: 50px;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 25px;
	font-family: 'League Spartan';
	line-height: 1.5; /*adjust space between lines*/
}


/*Name-Text--------------------------------------------------------------------------------------------------------------------------------------------*/
.name-text1{
	text-align: center;
	font-family: 'Impact';
	font-size: 135px;
	letter-spacing: 10px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: transparent;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-image: url('Images/white-wallpaper.jpg');
	background-size: 100%;
	animation: bg-animation 30s cubic-bezier(0.3,0,0.7,1) infinite;
}

.name-text2{
	text-align: center;
	font-family: 'Impact';
	font-size: 135px;
	letter-spacing: 10px;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: transparent;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-image: url('Images/blue-wallpaper.jpg');
	background-size: 100%;
	animation: bg-animation 30s cubic-bezier(0.3,0,0.7,1) infinite;
}

.name-text3{
	text-align: center;
	font-family: 'Impact';
	font-size: 135px;
	letter-spacing: 10px;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: transparent;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-image: url('Images/yellow-wallpaper.jpg');
	background-size: 100%;
	animation: bg-animation 30s cubic-bezier(0.3,0,0.7,1) infinite;
}

.name-text4{
	text-align: center;
	font-family: 'Impact';
	font-size: 135px;
	letter-spacing: 10px;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: transparent;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-image: url('Images/green-wallpaper.jpg');
	background-size: 100%;
	animation: bg-animation 30s cubic-bezier(0.3,0,0.7,1) infinite;
}

/*name-text animation*/
@keyframes bg-animation {
	0% {background-position: 0% 0%;}
	50% {background-position: 100% 100%;}
	100% {background-position: 0% 0%;}
}

.container-text {
    position: relative; /* Container to allow absolute positioning within it */
    width: 100%; /* Ensure the container takes full width */
    height: 100vh; /* Set the height to the full height of the viewport, adjust as needed */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}




/*Parallax Scrolling Effect--------------------------------------------------------------------------------------------------------------------------------------------*/
.Image1{
	height: 85vh;
	width: 100%;
	background-image: url('Images/windows.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.Image2{
	height: 70vh;
	width: 100%;
	background-image: linear-gradient(to bottom, #ffffff, #B8B8B8);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
}

.Image3{
	height: 75vh;
	width: 100%;
	background-image: url('Images/windows-bw.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed; 
}

.Image4{
	height: 70vh;
	width: 100%;
	background-image: linear-gradient(to bottom, #6bb7e3, #ffffff);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
}

.Image5{
	height: 75vh;
	width: 100%;
	background-image: linear-gradient(to top, #c6eaf0, #ffffff);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
}

.Image6{
	height: 75vh;
	width: 100%;
	background-image: linear-gradient(to top, #ffffff, #FFFF99);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
}

.Image7{
	height: 75vh;
	width: 100%;
	background-image: linear-gradient(to top, #ffffff, #FFE135);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
}

.Image8{
	height: 75vh;
	width: 100%;
	background-image: linear-gradient(to top, #ffffff, #96b553);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
}

.Image9{
	height: 75vh;
	width: 100%;
	background-image: linear-gradient(to top, #ffffff, #495f2b);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
}

.Image10{
	height: 35vh;
	width: 100%;
	background-image: url('Images/Windowschill.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}






/*Navbar--------------------------------------------------------------------------------------------------------------------------------------------*/
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 50px;
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}




/*Home button logo--------------------------------------------------------------------------------------------------------------------------------------------*/	
.logo{
	opacity: 0.7;
	font-family: 'League Spartan';
	border: 3px solid transparent;
	color: #2a2d31;
	padding: 2px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	cursor: pointer;
	transition-duration: 0.3s;
	Border-radius: 30px;
	background-color: #F5F5F5;
}

.logo:hover {
	opacity: 1;
	background-color: rgba(82, 92, 92, 0.5);
	color: white; 
}




/*Resume Button--------------------------------------------------------------------------------------------------------------------------------------------*/
.resume{
	opacity: 0.7;
	font-family: 'League Spartan';
	border: 3px solid transparent;
	color: #2a2d31;
	padding: 2px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	cursor: pointer;
	transition-duration: 0.3s;
	margin-right: 100px;
	Border-radius: 30px;
	background-color: #F5F5F5;
}

.resume:hover {
	opacity: 1;
	background-color: rgba(82, 92, 92, 0.5);
	color: white;
}


/*Standard Button--------------------------------------------------------------------------------------------------------------------------------------------*/
.certificationbutton{
	font-family: 'League Spartan';
	border: 3px solid black;
	color: red;
	padding: 6px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 36px;
	cursor: pointer;
	transition-duration: 0.3s;
	margin-right: 100px;
	Border-radius: 30px;
}

.certificationbutton:hover {
	opacity: 1;
	background-color: rgba(82, 92, 92, 0.5);
	color: white;
}



/*Contact Button--------------------------------------------------------------------------------------------------------------------------------------------*/
.contact{
	font-family: 'League Spartan';
	border: 3px solid black;
	color: #2a2d31;
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 36px;
	cursor: pointer;
	transition-duration: 0.3s;
	margin-right: 100px;
	Border-radius: 15px;
	background-color: rgba(255, 255, 255, .75);
}

.contact:hover {
	background-color: rgba(82, 92, 92, 0.5);
	color: white;
}


/* settings for pictures--------------------------------------------------------------------------------------------------------------------------------------------*/
.pfp{
	box-shadow: -5px 5px 2.5px rgba(42, 45, 49, 0.5); /*horizontal offset, vertical offset, blur radius, color (red, green, blue, opacity) */
	height: 450px;
	Border-radius: 15px; /*rounds the corners of the image*/
}

.degree{
	box-shadow: -5px 5px 2.5px rgba(42, 45, 49, 0.5); /*horizontal offset, vertical offset, blur radius, color (red, green, blue, opacity) */
	height: 450px;
	Border-radius: 15px; /*rounds the corners of the image*/
}

.wilmu{
	height: 125px;
	padding-bottom: 20px;
}

.cert{
	height: 100px;
	padding-bottom: 20px;
}

.idf{
	box-shadow: -5px 5px 2.5px rgba(42, 45, 49, 0.5); /*horizontal offset, vertical offset, blur radius, color (red, green, blue, opacity) */
	height: 400px;
	Border-radius: 15px; /*rounds the corners of the image*/
}

.chillguy{
	height: 300px;
	padding-bottom: 20px;
}

/*columns--------------------------------------------------------------------------------------------------------------------------------------------*/
.column {
    flex: 1; /* Each column takes equal space */
    min-width: 200px; /* Minimum width for each column */
    padding: 1px;
    
    /* Centering the content inside each column */
	display: flex;
	flex-direction: column;
	text-align: center;
    align-items: center; /* Centers vertically */
    justify-content: center; /* Centers horizontally */
    height: auto; /* Ensures the column takes up available height */
    
    /* Prevent text from overflowing */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add an ellipsis when the text overflows */
    word-wrap: break-word; /* Allow text to break within words */
}

.column1 {
    flex: 1; /* Each column takes equal space */
    min-width: 200px; /* Minimum width for each column */
    padding: 1px;
    
    /* Centering the content inside each column */
	display: flex;
	flex-direction: column;
	text-align: left;
    align-items: left; /* Centers vertically */
    justify-content: center; /* Centers horizontally */
    height: auto; /* Ensures the column takes up available height */
    
    /* Prevent text from overflowing */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add an ellipsis when the text overflows */
    word-wrap: break-word; /* Allow text to break within words */
}

.container {
    display: flex; /* Use flexbox for the container */
    justify-content: space-between; /* Ensure there's space between columns */
    gap: 10px; /* Adds space between the columns */
    height: 100%; /* Ensure the container fills the available space */
    width: 100%; /* Full width of the screen */
    box-sizing: border-box; /* Ensures padding is included in width/height calculations */
    padding: 30px; /* Optional padding around the container */
}


/*--------------------------------------------------------------------------------------------------------------------------------------------*/

